html {
  height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  height: 100%;
  font-family: "Open Sans", sans-serif, Arial;
}

#modal_form {
	width: 600px;
	height: 400px;
	border-radius: 1px;
	background: #fff;
	position: fixed;
	top: 30%;
	left: 40%;
	margin-top: -150px;
	margin-left: -150px;
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 20px 10px;
  text-align: center;
}
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_form p {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 20px;
}
#modal_form img {
  max-height: 200px;
  max-width: 100%;
}

.code-block {
  display: none;
}

#code {
  display: block;
  width: 200px;
  margin: 10px auto;
  background-color: #ddd;
  font-size: 20px;
}

#overlay {
	z-index:3;
	position:fixed;
	background-color:#000;
	opacity:0.8;
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%;
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
